a {
  top: .2em;
}

.size {
  width: 10px;
}

@custom-media --FOO;

:root { --FOO: 1px; }

@keyframes FOO { /* ... */ }

.FOO { /* ... */ }

.bem {
  &__not_bem {
    display: none;
  }
}

#FOO { /* ... */ }

.invalid-order {
  background-color: white;
  color: white;
}